/*============= Section 1 Product Cards ============= */
.product-card{
    background: #FFFFFF;
    box-shadow: 1px 1px 6px rgba(115, 115, 115, 0.25);
    border-radius: 5px;
    padding: 5px 10px;
}

.card-text{
    font-size: 1.1rem !important;
    font-weight: 600 !important;
    color: var(--color-dove-gray);
}

@media (max-width: 576px) {
    .card-outer {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
}