/* ============= Threads ============= */
.section6-thread1{
    margin-top: 25px;
    margin-right: 85px;
    z-index: -1;
}

.section6-thread2{
    margin-top: 400px;
    margin-right: 375px;
}

.section6-thread3{
    margin-top: 442px;
    margin-left: 355px;
}

@media (max-width: 720px) {
    .section-6 {
        margin-top: 50px !important;
    }
}

@media (max-width: 510px) {
    .section6-hero {
        height: 500px;
    }

    .section6-thread2 {
        left: 0;
    }

    .section6-thread3 {
        right: 0;
        bottom: 0;
    }
}