/* ================== Error Section Background ================ */
.error-section{
    background: radial-gradient(50% 50% at 50% 50%, #9300E0 0%, #6000B7 100%);
    width: 100% !important;
    min-height: 100vh !important;
    height: 100% !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 2.5rem !important;
    line-height: 20px !important;
    color: #FFFFFF !important;
}

/* ================== Error Section Buttons ================ */
.error-section .links{
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 1.5rem !important;
    line-height: 29px;
    text-decoration-line: underline !important;
    color: #FFFFFF !important;
}

/* ================= Page 404 Container Section =============== */
.page-404-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7% 0px;
}

/* ================== Adjust Line Height On Small Screen ============= */
@media only screen and (max-width: 1180px) {
    .flash-text {
        line-height: 50px !important;
    }
}